<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header}">
<body>
<div class="container">
    <div class="row">
        <h3 th:text="${userModel.title}">Welcome to waylau.com</h3>
    </div>
    <div class="row">
        <div class="row-md-col8"><a class="btn btn-default" href="/users/form.html">创建用户</a></div>
    </div>
    <table border="1" class="table table-bordered">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Sex</td>
            <td>Age</td>
            <td>Telepone</td>
            <td>Email</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${userModel.userList.size()} eq 0">
            <td colspan="6">没有用户信息！！</td>
        </tr>
        <tr th:each="user : ${userModel.userList}">
            <td th:text="${user.id}">1</td>
            <td><a href="view.html" th:href="@{'/users/' + ${user.id}}"
                   th:text="${user.name}"></a></td>
            <td th:text="${user.sex}">1</td>
            <td th:text="${user.age}">1</td>
            <td th:text="${user.telephone}">1</td>
            <td th:text="${user.email}">11</td>

        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>
